# Telegram
TELEGRAM_BOT_TOKEN=1234567890 (токен вашего тг бота)
TELEGRAM_CHAT_ID=-1001234567890 (id чата, куда будут отправляться уведомления)
TELEGRAM_CHAT_ID_TEST=-1009876543210 (id тестового чата, если надо)

# YDB
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/your-cloud-id/your-folder-id/your-database-id

# Yandex Message Queue
YMQ_QUEUE_URL=https://message-queue.api.cloud.yandex.net/your-folder-id/your-queue-id/callback-reminders
AWS_REGION=ru-central1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
